@model CreditCard

@{
    ViewData["Title"] = "Payment";
    string labelAttr = "col-md-3 control-label";
    string validationMessageAttr = "text-danger";
}
<div class="col-lg-8 my-3">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Payment",
                "Cart",
                FormMethod.Post,
                new {@id = "paymentForm", role = "form"}))
            {
                <h5 class="card-title">Credit cart data:</h5>
                @Html.LabelFor(m => m.CardHolder, new {@class = labelAttr})
                @Html.TextBoxFor(m => m.CardHolder)
                @Html.ValidationMessageFor(m => m.CardHolder, "", new {@class = validationMessageAttr})
                <br>
                @Html.LabelFor(m => m.CardNumber, new {@class = labelAttr})
                @Html.TextBoxFor(m => m.CardNumber)
                @Html.ValidationMessageFor(m => m.CardNumber, "", new {@class = validationMessageAttr})
                <br>
                @Html.LabelFor(m => m.ExpiryDate, new {@class = labelAttr})
                @Html.TextBoxFor(m => m.ExpiryDate)
                @Html.ValidationMessageFor(m => m.ExpiryDate, "", new {@class = validationMessageAttr})
                <br>
                @Html.LabelFor(m => m.CVV, new {@class = labelAttr})
                @Html.TextBoxFor(m => m.CVV)
                @Html.ValidationMessageFor(m => m.CVV, "", new {@class = validationMessageAttr})
                <br>
                <input class="btn btn-success" type="submit" value="Pay @(ViewBag.total)">
            }
        </div>
    </div>
</div>