@model List<Codecool.CodecoolShop.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row container">
    <h3>@ViewData["header"]</h3>
    @foreach (var element in Model)
    {
        <div class="col-lg-4 my-3">
            <div class="card">
                <img src="/img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                <div class="card-body">
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.IndexOf(element) + 1;}
                        @num
                    </h5>
                    <h5 class="card-title">@element.Name</h5>
                    <p class="card-text">@element.Description.</p>
                    <p class="card-text">Category: @element.ProductCategory?.Name</p>
                    <p class="card-text">Supplier: @element.Supplier?.Name</p>
                    <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                    <a type="button" class="btn btn-primary addToCartBtn" id="@element.Id" style="float: bottom">Add To Cart</a>
                </div>
            </div>
        </div>
    }
</div>
